.about {
  padding-top: 100px;
}

.about__title {
  margin-bottom: 46px;
}

.about__block {
  display: grid;
  gap: 62px 80px;
  grid-template-columns: 600px 500px;
  grid-template-rows: 222px 312px;
  grid-template-areas: 
  "image text"
  "image quote";
}

.about__image {
  grid-area: image;
  background-image: url("../img/about.jpg");
  background-size: 100% 100%;
}

.about__text-content {
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.about__blockquote {
  grid-area: quote;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about__quote {
  padding-left: 31px;
  position: relative;
  max-width: 440px;
  font-size: 44px;
  line-height: 1.1;
  text-transform: uppercase;
}

.about__quote:before {
  content: '\201c';
  position: absolute;
  top: -11px;
  left: 0;
  font-weight: 900;
  color: var(--violet);
}

.about__quote:after {
  padding-left: 12px;
  content: '\201d';
  font-weight: 900;
  color: var(--violet);
}

.about__photo-group {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 30px;
  padding-left: 66px;
} 

.about__cite {
  font-style: normal;
}

@media (max-width: 1200px) {
  .about {
    padding-top: 72px;
    padding-bottom: 25px;
  }

  .about__title {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 1.33333;
  }

  .about__block {
    gap: 37px 40px;
    grid-template-columns: 420px 444px;
    grid-template-rows: 195px 217px;
  }

  .about__text-content {
    gap: 25px;
  }

  .about__description {
    font-size: 18px;
    line-height: 1.33333;
  }

  .about__blockquote {
    gap: 20px;
  }

  .about__quote {
    padding-left: 24px;
    font-size: 30px;
    line-height: 1.2;
    max-width: 405px;
  }

  .about__quote:after {
    padding-left: 10px;
  }

  .about__photo-group {
    padding-left: 99px;
    gap: 34px;
  }

  .about__photo {
    width: 70px;
    height: 70px;
  }

  .about__cite {
    font-size: 18px;
    line-height: 1.44444;
  }
}

@media (max-width: 1020px) {
  .about {
    padding-top: 60px;
  }

  .about__title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.5;
  }

  .about__block {
    gap: 41px 28px;
    grid-template-columns: 382px 267px;
    grid-template-rows: 380px 184px;
    grid-template-areas: 
    "image text"
    "quote quote";
  }

  .about__text-content {
    align-self: center;
    gap: 23px;
  }

  .about__description {
    font-size: 16px;
    line-height: 1.375;
  }

  .about__description br {
    display: none;
  }

  .about__blockquote {
    gap: 23px;
  }

  .about__quote {
    max-width: 100%;
    font-size: 32px;
    line-height: 1.125;
  }

  .about__photo-group {
    padding-left: 0;
    align-self: end;
    gap: 29px;
  }
}

@media (max-width: 740px) {
  .about {
    padding-top: 31px;
    padding-bottom: 9px;
  }

  .about__title {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.28571;
  }

  .about__block {
    justify-content: center;
    gap: 14px 0;
    grid-template-columns: minmax(280px, 100%);
    grid-template-rows: 127px 280px 164px;
    grid-template-areas: 
    "text"
    "image"
    "quote";
  }
  
  .about__text-content {
    align-self: start;
    gap: 15px;
  }

  .about__description {
    font-size: 12px;
    line-height: 1.33333;
  }

  .about__blockquote {
    padding-top: 9px;
    gap: 10px;
  }

  .about__quote {
    padding-left: 15px;
    font-size: 18px;
    line-height: 1.4;
  }

  .about__quote:before {
    font-size: 22px;
  }

  .about__quote:after {
    padding-left: 5px;
  }

  .about__photo-group {
    align-self: flex-start;
    gap: 11px;
  }

  .about__photo {
    width: 56px;
    height: 56px;
  }

  .about__cite {
    max-width: 200px;
    font-size: 12px;
    line-height: 1.33333;
  }

  .about__cite br:nth-child(2) {
    display: none;
  }
}






