.faq__title {
  margin-bottom: 40px;
}

.faq__list {
  list-style-type: none;
}

.faq__item {
  background-color: var(--white);
  color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
}

.faq__item:last-child {
  margin-bottom: 0;
}

.faq__item:nth-child(even) {
  background-color: var(--purple);
  color: var(--white);
}

.faq__item:after {
  content: url('/img/open-purple.svg');

} 

.faq__item:nth-child(even):after {
  content: url('/img/open.svg');
}