.halls {
  padding-bottom: 100px;
}

.halls__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.halls__item {
  max-width: 580px;
  width: 100%;
  min-height: 349px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.halls__item_bg-vibes {
  background-image: url('../img/vibes.jpg');
}

.halls__item_bg-starwars {
  background-image: url('../img/starwars.jpg');
}

.halls__item_bg-wildwest {
  background-image: url('../img/wildwest.jpg');
}

.halls__item_bg-neon {
  background-image: url('../img/neon.jpg');
}

.halls__link {
  display: block;
  font-weight: 700;
  font-size: 70px;
  line-height: 1.1;
  text-transform: uppercase;
}