.halls__title {
  margin-bottom: 60px;
}

.halls__list {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.halls__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 710px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.halls__item:last-child {
  margin-bottom: 0;
}

.halls__item_bg-vibes {
  background-image: url('../img/vibes.jpg');
}

.halls__item_bg-starwars {
  background-image: url('../img/starwars.jpg');
}

.halls__item_bg-wildwest {
  background-image: url('../img/wildwest.jpg');
}

.halls__item_bg-neon {
  background-image: url('../img/neon.jpg');
}

.halls__link {
  display: block;
  max-width: 211px;
  font-weight: 700;
  font-size: 70px;
  line-height: 1.1;
  text-transform: uppercase;
}