.header {
  padding: 30px 0 25px;
}

.header__logo {
  display: block;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-list {
  display: flex;
  gap: 40px;
}

.header__nav-link {
  font-size: 22px;
  line-height: 2.3;
  text-transform: uppercase;
  outline: 1px solid transparent;
  outline-offset: 5px;
  transition: color .3s ease-in-out, outline-color .2s ease-in-out;
}

.header__nav-link:hover {
  color: var(--focus-color);
}

.header__nav-link:focus {
  outline-color: var(--focus-color);
  color: #EADEED;
}

.header__nav-link:active {
  outline: none;
  color: var(--purple-violet);
}

.header__btn {
  padding: 12px 32px;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  border: 3px solid var(--focus-color);
  border-radius: 10px;
  color: var(--white);
  outline: none;
  transition: background-color .3s ease-in-out, border-color .2s ease-in-out;
}

.header__btn:hover {
  border-color: var(--violet);
  background-color: var(--violet);
}

.header__btn:focus {
  background-color: var(--violet);
}

.header__btn:active {
  border: 3px solid var(--black);
  background-color: var(--dark-purple-violet);
}