.hero {
  padding-top: 25px;
}

.hero-container {
  position: relative;
  height: 823px;
}

.hero-container:after {
  position: absolute;
  content: '';
  top: 61px;
  right: 0;
  width: 675px;
  height: 762px;
  background-image: url('../img/hero.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hero__title {
  font-weight: 900;
  font-size: 150px;
  line-height: 1;
  letter-spacing: -0.1em;
  text-transform: uppercase;

}

.hero__description {
  padding-left: 100px;
  font-size: 28px;
  line-height: 1.7;
  margin-bottom: 30px;
}

.hero__content {
  display: flex;
  gap: 28px;
  margin-bottom: 147px;
}

.content__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  flex-basis: 190px;
}

.content__span {
  font-weight: 900;
  font-size: 100px;
  color: var(--focus-color);
}

.content__span_size {
  font-size: 75px;
  font-variant: all-small-caps;
}

.content__text {
  text-align: center;
  line-height: 1.25;
  font-size: 30px;
}

.hero__btn {
  display: inline-block;
  padding: 25px 69px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.25;
  text-transform: uppercase;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--violet);
  outline: none;
  transition: background-color .3s ease-in-out;
}

.hero__btn:hover, .hero__btn:focus {
  background-color: var( --purple-violet);
}

.hero__btn:active {
  background-color: var(--dark-purple-violet);
}

.hero__btn-down-link {
  display: block;
  position: absolute;
  left: 50%;
  z-index: 2;
  transform: translate(-53%, -36%);
}

.arrow {
  color: var(--white);
  fill: transparent;
  transition: fill .5s, color .5s;
}

.arrow:hover {
  fill: var(--white);
  color: var(--dark-purple-violet);
}

.hero__btn-down-link:focus {
  outline-offset: 0;
  outline: 2px solid var(--focus-color);
}

.hero__btn-down-link:active {
  outline: none;
}

.arrow:active {
  fill: var(--focus-color);
  color: var(--white);
}

@media (max-width: 1200px) {
  .hero {
    padding-top: 15px;
    padding-bottom: 35px;
  }

  .hero-container {
    height: 583px;
  }

  .hero__title {
    font-size: 120px;
    margin-bottom: 17px;
  }

  .hero__description  {
    font-size: 22px;
    margin-bottom: 26px;
  }

  .hero__content{
    margin-bottom: 79px;
  }

  .content__box {
    flex-basis: 165px;
  }

  .content__span {
    font-size: 80px;
  }

  .content__span_size {
    font-size: 60px;
  }

  .content__text {
    font-size: 26px;
    line-height: 1.2;
  }

  .hero__btn {
    margin-left: 40px;
    padding: 19px 48px;
    font-size: 22px;
  }

  .hero-container:after {
    width: 453px;
    height: 520px;
    right: 61px;
  }

  .hero__btn-down-link {
    transform: translate(-52%, -65%);
  }

  .arrow {
    width: 67px;
    height: 67px;
  }
}

@media (max-width: 1020px) {
  .hero {
    padding-top: 15px;
  }

  .hero-container {
    height: 537px;
  }

  .hero__title {
    font-size: 86px;
    margin-bottom: 16px;
    letter-spacing: -8.2px;
  }

  .hero__description  {
    padding-left: 70px;
    font-size: 18px;
    margin-bottom: 46px;
  }

  .hero__content{
    margin-bottom: 99px;
  }

  .content__box {
    flex-basis: 92px;
  }

  .content__span {
    font-size: 50px;
  }

  .content__span_size {
    font-size: 40px;
  }

  .content__text {
    font-size: 16px;
    line-height: 1.2;
  }

  .hero__btn {
    border-radius: 4px;
    margin-left: 0;
    padding: 13px 34px;
    font-size: 16px;
  }

  .hero-container:after {
    width: 422px;
    height: 479px;
    top: 55px;
    right: 33px;
  }

  .hero__btn-down-link {
    transform: translate(-52%, -65%);
  }

  .arrow {
    display: none;
  }
}

@media (max-width: 740px) {
  .hero {
    padding-top: 9px;
    padding-bottom: 23px;
  }

  .hero-container {
    height: 204px;
  }

  .hero__title {
    font-size: 35px;
    margin-bottom: 5px;
    letter-spacing: -2.7px;
  }

  .hero__description  {
    padding-left: 20px;
    font-size: 10px;
    margin-bottom: 10px;
  }

  .hero__content{
    margin-bottom: 24px;
    gap: 14px;
  }

  .content__box {
    flex-basis: 65px;
  }

  .content__span {
    font-size: 26px;
  }

  .content__span_size {
    font-size: 22px;
  }

  .content__text {
    font-size: 10px;
    line-height: 1.2;
  }

  .hero__btn {
    border-radius: 4px;
    margin-left: 0;
    padding: 8px 13px;
    font-size: 10px;
  }

  .hero-container:after {
    width: 161px;
    height: 179px;
    top: 25px;
    right: 20px;
  }
}