.rest__title {
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 880px;
}

.rest__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.rest__item {
  display: flex;
  align-items: flex-end;
  flex-basis: 380px;
  min-height: 228px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.rest__image-description {
  display: block;
  font-weight: 700;
}

.rest__image-description_short {
  max-width: 199px;
}

.rest__item_bg-vr {
  background-image: url("../img/vr.png");
  padding: 0 40px 34px;
}

.rest__item_bg-audio {
  background-image: url("../img/audio.png");
  padding: 0 40px 6px;
}

.rest__item_bg-micro {
  background-image: url("../img/micro.png");
    padding: 0 40px 34px;
}

.rest__item_bg-game {
  background-image: url("../img/game.png");
    padding: 0 40px 34px;
}

.rest__item_bg-netflix {
  background-image: url("../img/netflix.png");
  padding: 0 40px 6px;
}

.rest__item_bg-sony {
  background-image: url("../img/sony.png");
    padding: 0 40px 34px;
}
